* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.gridcontenedor {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0, 5fr auto 0, 5fr;
  grid-template-areas: "header header" "main  main" "footer footer";
}

@media screen and (max-width: 673px) {
  .nav-contenedor {
    flex-direction: column;
    text-align: center;
  }

  .nav-contenedor nav ul {
    flex-direction: column;
    margin: 0%;
  }

  .contacto {
    text-align: center;
  }

  .preguntasfrecuentes {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .redes > div {
    flex-direction: column;
  }
}
/*-----HEADER-----*/
.header {
  width: 100%;
  grid-area: header;
}
.header .texto_inicial {
  text-align: center;
  background-color: black;
  color: white;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.header .collapse ul li a {
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #333;
  color: black;
}
.header .collapse ul li a:hover {
  background-color: red;
}

/*----MAIN-----*/
.mainindex {
  grid-area: main;
}
.mainindex h1 {
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
.mainindex .hero_one div img {
  width: 100%;
  height: 400px;
}
.mainindex .ofertas h2 {
  text-align: center;
  font-size: xx-large;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
.mainindex .ofertas > div {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px 10px 0 20px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: transition;
          animation-name: transition;
}
.mainindex .ofertas > div div {
  background-color: black;
  color: white;
  font-weight: 900;
  margin-bottom: 20px;
  height: 440px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 35px -8px rgba(0, 0, 0, 0.75);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: transition;
          animation-name: transition;
}
.mainindex .ofertas > div div:hover {
  transform: scale(1.1);
}
.mainindex .ofertas > div div .boton {
  background-color: white;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  padding: 10px;
}
.mainindex .ofertas > div div img {
  width: 300px;
  height: 320px;
  border-radius: 15px 15px 0 0;
}

.main_conocenos {
  background-color: grey;
  grid-area: main;
}
.main_conocenos h2 {
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
.main_conocenos p {
  text-align: center;
}

.contacto {
  background-color: grey;
  font-size: larger;
  grid-area: main;
}
.contacto h1 {
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.preguntasfrecuentes {
  background-color: grey;
  font-size: larger;
  grid-area: main;
}
.preguntasfrecuentes h1 {
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
.preguntasfrecuentes .texto_uno, .preguntasfrecuentes .texto_tres, .preguntasfrecuentes .texto_dos {
  background-color: black;
  color: white;
}
.productos {
  background-color: grey;
  font-size: larger;
  grid-area: main;
}
.productos h1 {
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
.productos .galeriadeproductos div {
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
.productos .galeriadeproductos > div {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px 10px 0 20px;
}
.productos .galeriadeproductos > div div {
  background-color: black;
  color: white;
  font-weight: 900;
  margin-bottom: 20px;
  height: 440px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 35px -8px rgba(0, 0, 0, 0.75);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: transition;
          animation-name: transition;
}
.productos .galeriadeproductos > div div:hover {
  transform: scale(1.1);
}
.productos .galeriadeproductos > div div a {
  background-color: rgb(236, 84, 84);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 10px;
}
.productos .galeriadeproductos > div div img {
  width: 300px;
  height: 320px;
  border-radius: 15px 15px 0 0;
}

/*----FOOTER----*/
.redes {
  background-color: white;
  grid-area: footer;
}
.redes div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}
.redes div div {
  display: flex;
}
.redes div img {
  width: 150px;
  margin-left: 5px;
}
.redes div div a {
  color: #333;
}
.redes div div a img {
  width: 50px;
  height: 50px;
}
.redes div ul {
  list-style: none;
}
.redes div ul li a {
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  margin: 10px;
  text-shadow: 2px 2px 2px #333;
  text-align: center;
}/*# sourceMappingURL=style.css.map */