* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}


.gridcontenedor {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0, 5fr auto 0, 5fr;
    grid-template-areas:
        "header header"
        "main  main"
        "footer footer"
}