$color-principal:white;
$color-secundario:black;
$color-terceario:grey;
$color-cuarto: #333;


/* mixin*/
@mixin colorboton {
    background-color: rgb(236, 84, 84);
    border-radius: 10px;
    color: $color-principal;
    text-decoration: none;
    padding: 10px;
}
/*maps*/
$pallets: (
    color-principal:white,
    color-secundario:black,
    color-terceario:grey,
    color-cuarto: #333,
)

