
/*-----HEADER-----*/
.header{
    width: 100%;
    grid-area: header;
    .texto_inicial{
             text-align: center;
            background-color: $color-secundario;
            color: $color-principal;
            animation-duration: 5s;
            animation-name: slidein;
        }
        @keyframes slidein {
            from {
                margin-left: 100%;
                width: 300%
            }
        
            to {
                margin-left: 0%;
                width: 100%;
            }
        }

    
    .collapse{
        ul{
            li{
                a{
                    text-decoration: none;
                    font-weight: 300;
                    text-transform: uppercase;
                    text-shadow: 2px 2px 2px $color-cuarto;
                    color:$color-secundario;
                    &:hover{
                        background-color: red;

                    }

                }
            }
        }
    }
}