
.mainindex{
    grid-area: main;
    h1{
        text-align: center;
        background-color:$color-secundario;
        color:$color-principal;
        text-transform: uppercase;

    }
    .hero_one{
        
          div{
            img{
                width: 100%;
                height: 400px;
            }
          }
        }

        .ofertas{
       
            h2{
                text-align: center;
                font-size: xx-large;
                background-color: $color-secundario;
                color: map-get($map: $pallets, $key: color-principal);
                text-transform: uppercase;
    
            }
            >div{
                display: flex;
                text-align: center;
                justify-content: space-around;
                flex-wrap: wrap;
                margin: 5px 10px 0 20px;
                    
                div{
                    background-color: map-get($map:$pallets , $key: color-secundario);
                    color: $color-principal;
                    font-weight: 900;
                    margin-bottom: 20px;
                    height: 440px;
                    border: 2px solid $color-secundario;
                    border-radius: 15px;
                    box-shadow: 10px 10px 35px -8px rgba(0, 0, 0, 0.75);
                    .boton{
                        background-color: $color-principal;
                        border-radius: 10px;
                        color: $color-secundario;
                        text-decoration: none;
                        padding: 10px;
                    }
                    img{
                        width: 300px;
                        height: 320px;
                        border-radius: 15px 15px 0 0;
    
                    }
                }
            }
        }

    }



.main_conocenos{
    background-color:$color-terceario;
    grid-area: main;

    h2{
        text-align: center;
        background-color:$color-secundario;
        color: $color-principal;
        text-transform: uppercase;


    }
    p{
        text-align: center;

    }
}

.contacto{
    background-color: $color-terceario;
    font-size: larger;
    grid-area: main;


    h1{
        text-align: center;
        background-color: $color-secundario;
        color: $color-principal;
        text-transform: uppercase;
    }
}

.preguntasfrecuentes{
    background-color:$color-terceario;
    font-size: larger;
    grid-area: main;
    h1{
        text-align: center;
        background-color:$color-secundario;
        color: $color-principal;
        text-transform: uppercase;

    }
    .texto_uno{
        background-color:$color-secundario;
        color: $color-principal;

    }
    .texto_dos{
        @extend .texto_uno;
        background-color: slategrey;
    
    }
    .texto_tres{
        @extend .texto_uno
    }
    
}

.productos{
    background-color:$color-terceario;
    font-size: larger;
    grid-area: main;

    h1{
        text-align: center;
         background-color:$color-secundario;
        color: $color-principal;
        text-transform: uppercase;

    }
    .galeriadeproductos{

        div{
            text-align: center;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 10px;
            }
           
            >div{
                display: flex;
                text-align: center;
                justify-content: space-around;
                flex-wrap: wrap;
                margin: 5px 10px 0 20px;
                    
                div{
                    background-color:$color-secundario;
                    color: $color-principal;
                    font-weight: 900;
                    margin-bottom: 20px;
                    height: 440px;
                    border: 2px solid $color-secundario;
                    border-radius: 15px;
                    box-shadow: 10px 10px 35px -8px rgba(0, 0, 0, 0.75);
                    a {
                        
                     @include  colorboton 
                        
                    }
                    img{
                        width: 300px;
                        height: 320px;
                        border-radius: 15px 15px 0 0;
    
                    }
                }
            }
        }

    }


    



    

        
        


    











